*{
    box-sizing: border-box;
}
#letsGo{
    background-color: gold;
}
#intro{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
#initialP{
    font-size: 26px;
    font-family: 'Libre Baskerville', serif;
}
#welcome{
    font-family: 'Niconne', cursive;
    font-weight: bold;
    font-size: 55px;
}
.duh{
    font-family: 'Reenie Beanie', cursive;
    font-size: 70px;
    font-weight: normal;
}
body { 
    background: url(travelPage.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#searchRegion, #plannerPage{
    background: rgba(255, 255, 255, 0.767);
}
.selectedRegion{
    background-color: darksalmon;
}
#searchRegion{
    margin-top: 350px;
}
#selectParts{
    padding-top: 30px;
    padding-bottom: 30px;
}
#map{
    /* margin-left: 5px; */
    height: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
}
img{
    max-width: 100%;
    height: auto;
}
#toDo{
    font-family: 'Codystar', cursive;
    font-size: 25px;
    color: black;
}
.glyphicon-plus-sign:hover{
    color: rgba(32, 178, 171, 0.719);
}
.glyphicon-calendar:hover{
    color: rgba(32, 178, 171, 0.719);
}
.card-body{
    clear: float; 
}
#resultHeader{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkblue;
}
#eventCB{
    height: 900px;
    background-color: plum;
    overflow: auto;
}
#toDoPlanner{
    height: 965px;
    overflow: auto;
}

